@model string

@{ 
    ViewBag.Title = "Reset Password Request";
}

<h2>Please type in your user name then click submit button</h2>

<form asp-action="ResetPasswordRequest" asp-antiforgery="true">
    <div class="form-group">
        <label class="col-md-2 control-label">User name: </label>
        <div class="col-md-10">
            <input name="userName" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>