@{
    ViewBag.Title = "Reset Request Confirmed";
}
<h2>Reset Link Sent</h2>
<p>Thanks for your request! You should receive reset link shortly if you already registered with us!</p>
<p>
    <a asp-controller="Home" asp-action="Index" class="button">Store</a>
</p>