@model ResetPasswordViewModel

@{ 
    ViewBag.Title = "Reset Password";
}

<h2>Hello @Model.UserName, please type in your new Password and click button to change</h2>
<form asp-action="ResetPassword" asp-antiforgery="true">

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="Id" type="hidden"/>
        <input asp-for="UserName" type="hidden"/>
        <input asp-for="ResetToken" type="hidden" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="submit" value="Change" />

</form>
